# Configuración de Microsoft Entra ID para desarrollo local
VITE_CLIENT_ID=4b2106cc-d748-4c93-9ddd-48d1ba8d3a42
VITE_TENANT_ID=6cb75a5d-5ddb-4496-b0e3-f9e5d62cd9db
VITE_REDIRECT_URI=http://localhost:5173
# VITE_API_SCOPE=api://4b2106cc-d748-4c93-9ddd-48d1ba8d3a42/Products.ReadWrite
