### Java / Maven Gitignore ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

### Logs & Temp ###
*.log
*.tmp
.DS_Store
Thumbs.db
